<h2> Unidades de Medida Registradas...</h2>
<br />
<div class="col">
    <div class="form-group">
        <input type="text" class="form-control" name="filterPost" placeholder="Buscar..." [(ngModel)]="filterPost">
    </div>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha</th>
            <th scope="col">Operaciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let unidades of unidad | filter:filterPost">
            <th scope="row">{{unidades.id_unidad}}</th>
            <td>{{unidades.medida}}</td>
            <td>{{unidades.created_at}}</td>
            <td>
                <a routerLink="/form/{{unidades.id_unidad}}" class="btn btn-outline-success">Ver/Editar</a>
                <a (click)="delete(unidades.id_unidad)" class="btn btn-outline-danger">Eliminar</a>

            </td>

        </tr>


    </tbody>
</table>

<h3> Exportar</h3>
<div class="container">
    <a (click)="exportAsXLSX()" class="btn btn-outline-info">EXCEL</a>
</div>